/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2d7973e55e84a28a00ac8b59601df88c:f26ccd95d74c616f6bbbc32c23cfeaaa:721577e051a8942688f7b4597aebd643$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(stellaris.png);}

.adaptive_bureaucracy {width:52px; height:52px; background-position: -1030px -437px}
.administrative_ai {width:52px; height:52px; background-position: -1084px -437px}
.afterburners_1 {width:52px; height:52px; background-position: -1138px -437px}
.afterburners_2 {width:52px; height:52px; background-position: -1192px -437px}
.akx_worm_1 {width:52px; height:52px; background-position: -1246px -437px}
.akx_worm_2 {width:52px; height:52px; background-position: -1300px -437px}
.akx_worm_3 {width:52px; height:52px; background-position: -1354px -437px}
.alien_life_studies {width:52px; height:52px; background-position: -1408px -437px}
.alien_sanctuary {width:52px; height:52px; background-position: -1462px -437px}
.amoeba_strike_craft_1 {width:52px; height:52px; background-position: -1484px -2px}
.antimatter_power {width:52px; height:52px; background-position: -1484px -56px}
.arc_emitter_1 {width:52px; height:52px; background-position: -1484px -110px}
.arc_emitter_2 {width:52px; height:52px; background-position: -1484px -164px}
.archeology_lab {width:52px; height:52px; background-position: -1484px -218px}
.arctic_colonization {width:52px; height:52px; background-position: -1484px -272px}
.arid_colonization {width:52px; height:52px; background-position: -1484px -326px}
.artificial_moral_codes {width:52px; height:52px; background-position: -1484px -380px}
.ascension_theory {width:52px; height:52px; background-position: -1516px -434px}
.assault_armies {width:52px; height:52px; background-position: -1538px -2px}
.assembly_pattern {width:52px; height:52px; background-position: -1538px -56px}
.atmospheric_manipulation {width:52px; height:52px; background-position: -1538px -110px}
.aura_minefield {width:52px; height:52px; background-position: -1538px -164px}
.aura_nanobot {width:52px; height:52px; background-position: -1538px -218px}
.aura_quantum_destabilizer {width:52px; height:52px; background-position: -1538px -272px}
.aura_shield_dampener {width:52px; height:52px; background-position: -1538px -326px}
.aura_shield_recharger {width:52px; height:52px; background-position: -1538px -380px}
.aura_snare {width:52px; height:52px; background-position: -1516px -488px}
.autocannons_1 {width:52px; height:52px; background-position: -1030px -491px}
.autocannons_2 {width:52px; height:52px; background-position: -1084px -491px}
.autocannons_3 {width:52px; height:52px; background-position: -1138px -491px}
.autocurating_vault {width:52px; height:52px; background-position: -1192px -491px}
.automated_exploration {width:52px; height:52px; background-position: -1246px -491px}
.background {width:1026px; height:571px; background-position: -2px -2px}
.basic_industry {width:52px; height:52px; background-position: -1300px -491px}
.basic_science_lab_1 {width:52px; height:52px; background-position: -1354px -491px}
.battleship_yard {width:52px; height:52px; background-position: -1408px -491px}
.battleships {width:52px; height:52px; background-position: -1462px -542px}
.biolab_1 {width:52px; height:52px; background-position: -1030px -545px}
.biolab_2 {width:52px; height:52px; background-position: -1084px -545px}
.biolab_3 {width:52px; height:52px; background-position: -1138px -545px}
.biolab_4 {width:52px; height:52px; background-position: -1192px -545px}
.biolab_5 {width:52px; height:52px; background-position: -1246px -545px}
.biology {width:29px; height:29px; background-position: -1462px -491px}
.blue_crystal_weapon_1 {width:52px; height:52px; background-position: -1300px -545px}
.capacity_boosters {width:52px; height:52px; background-position: -1354px -545px}
.centralized_command {width:52px; height:52px; background-position: -1408px -545px}
.climate_restoration {width:52px; height:52px; background-position: -1516px -542px}
.cloning {width:52px; height:52px; background-position: -1462px -596px}
.cold_fusion_power {width:52px; height:52px; background-position: -1516px -596px}
.collective_self {width:52px; height:52px; background-position: -1570px -434px}
.colonial_bureaucracy {width:52px; height:52px; background-position: -1592px -2px}
.colonial_centralization {width:52px; height:52px; background-position: -1592px -56px}
.colonization_1 {width:52px; height:52px; background-position: -1592px -110px}
.colonization_2 {width:52px; height:52px; background-position: -1592px -164px}
.colonization_3 {width:52px; height:52px; background-position: -1592px -218px}
.colonization_4 {width:52px; height:52px; background-position: -1592px -272px}
.colonization_5 {width:52px; height:52px; background-position: -1592px -326px}
.combat_computers_1 {width:52px; height:52px; background-position: -1592px -380px}
.combat_computers_2 {width:52px; height:52px; background-position: -1570px -488px}
.combat_computers_3 {width:52px; height:52px; background-position: -1570px -542px}
.combat_training {width:52px; height:52px; background-position: -1570px -596px}
.computing {width:29px; height:29px; background-position: -1916px -2px}
.construction_templates {width:52px; height:52px; background-position: -1624px -434px}
.continental_colonization {width:52px; height:52px; background-position: -1646px -2px}
.corvette_assembly {width:52px; height:52px; background-position: -1646px -56px}
.corvettes {width:52px; height:52px; background-position: -1646px -110px}
.cruiser_yard {width:52px; height:52px; background-position: -1646px -164px}
.cruisers {width:52px; height:52px; background-position: -1646px -218px}
.cryostasis_1 {width:52px; height:52px; background-position: -1646px -272px}
.cryostasis_2 {width:52px; height:52px; background-position: -1646px -326px}
.crystal_armor_1 {width:52px; height:52px; background-position: -1646px -380px}
.crystal_armor_2 {width:52px; height:52px; background-position: -1624px -488px}
.cultural_heritage {width:52px; height:52px; background-position: -1624px -542px}
.curator_lab {width:52px; height:52px; background-position: -1624px -596px}
.dark_matter {width:19px; height:19px; background-position: -1493px -491px}
.databank_uplinks {width:52px; height:52px; background-position: -1678px -434px}
.deep_scan {width:52px; height:52px; background-position: -1700px -2px}
.defense_army {width:52px; height:52px; background-position: -1700px -56px}
.desert_colonization {width:52px; height:52px; background-position: -1700px -110px}
.destroyer_assembly {width:52px; height:52px; background-position: -1700px -164px}
.destroyers {width:52px; height:52px; background-position: -1700px -218px}
.diplomacy_1 {width:52px; height:52px; background-position: -1700px -272px}
.diplomacy_2 {width:52px; height:52px; background-position: -1700px -326px}
.diplomacy_3 {width:52px; height:52px; background-position: -1700px -380px}
.disruptors_1 {width:52px; height:52px; background-position: -1678px -488px}
.disruptors_2 {width:52px; height:52px; background-position: -1678px -542px}
.disruptors_3 {width:52px; height:52px; background-position: -1678px -596px}
.doctrine_command_matrix {width:52px; height:52px; background-position: -1732px -434px}
.doctrine_fleet_size_1 {width:52px; height:52px; background-position: -1754px -2px}
.doctrine_fleet_size_2 {width:52px; height:52px; background-position: -1754px -56px}
.doctrine_fleet_size_3 {width:52px; height:52px; background-position: -1754px -110px}
.doctrine_fleet_size_4 {width:52px; height:52px; background-position: -1754px -164px}
.doctrine_fleet_size_5 {width:52px; height:52px; background-position: -1754px -218px}
.doctrine_fleet_support {width:52px; height:52px; background-position: -1754px -272px}
.doctrine_refit_standards {width:52px; height:52px; background-position: -1754px -326px}
.dragon_armor {width:52px; height:52px; background-position: -1754px -380px}
.droid_workers {width:52px; height:52px; background-position: -1732px -488px}
.drop_pod {width:52px; height:52px; background-position: -1732px -542px}
.dyson_sphere {width:52px; height:52px; background-position: -1732px -596px}
.eco_simulation {width:52px; height:52px; background-position: -1786px -434px}
.ecological_adaptation {width:52px; height:52px; background-position: -1808px -2px}
.energy_lance_1 {width:52px; height:52px; background-position: -1808px -56px}
.energy_lance_2 {width:52px; height:52px; background-position: -1808px -110px}
.energy_torpedoes_1 {width:52px; height:52px; background-position: -1808px -164px}
.energy_torpedoes_2 {width:52px; height:52px; background-position: -1808px -218px}
.engineering_lab_1 {width:52px; height:52px; background-position: -1808px -272px}
.engineering_lab_2 {width:52px; height:52px; background-position: -1808px -326px}
.engineering_lab_3 {width:52px; height:52px; background-position: -1808px -380px}
.engineering_lab_4 {width:52px; height:52px; background-position: -1786px -488px}
.engineering_lab_5 {width:52px; height:52px; background-position: -1786px -542px}
.engos {width:19px; height:19px; background-position: -1493px -512px}
.engos_vapor {width:52px; height:52px; background-position: -1786px -596px}
.enigmatic_decoder {width:52px; height:52px; background-position: -1840px -434px}
.enigmatic_deflector {width:52px; height:52px; background-position: -1862px -2px}
.enigmatic_disruption_field {width:52px; height:52px; background-position: -1862px -56px}
.enigmatic_encoder {width:52px; height:52px; background-position: -1862px -110px}
.enigmatic_power_core {width:52px; height:52px; background-position: -1862px -164px}
.epigenetic_triggers {width:52px; height:52px; background-position: -1862px -218px}
.ethical_equations {width:52px; height:52px; background-position: -1862px -272px}
.extradimensional_weapon_1 {width:52px; height:52px; background-position: -1862px -326px}
.field-manipulation {width:29px; height:29px; background-position: -1916px -33px}
.fission_power {width:52px; height:52px; background-position: -1862px -380px}
.flak_batteries_1 {width:52px; height:52px; background-position: -1840px -488px}
.flak_batteries_2 {width:52px; height:52px; background-position: -1840px -542px}
.frontier_collectives {width:52px; height:52px; background-position: -1840px -596px}
.frontier_commissars {width:52px; height:52px; background-position: -1894px -434px}
.frontier_health {width:52px; height:52px; background-position: -1894px -488px}
.frontier_hospital {width:52px; height:52px; background-position: -1894px -488px}
.frontier_initiatives {width:52px; height:52px; background-position: -1894px -542px}
.frontier_traditions {width:52px; height:52px; background-position: -1894px -596px}
.fusion_power {width:52px; height:52px; background-position: -2px -575px}
.gaia_creation {width:52px; height:52px; background-position: -56px -575px}
.galactic_administration {width:52px; height:52px; background-position: -110px -575px}
.galactic_ambitions {width:52px; height:52px; background-position: -164px -575px}
.galactic_benevolence {width:52px; height:52px; background-position: -218px -575px}
.galactic_bureaucracy {width:52px; height:52px; background-position: -272px -575px}
.galactic_campaigns {width:52px; height:52px; background-position: -326px -575px}
.galactic_markets {width:52px; height:52px; background-position: -380px -575px}
.garanthium {width:19px; height:19px; background-position: -1460px -974px}
.gene_banks {width:52px; height:52px; background-position: -434px -575px}
.gene_crops {width:52px; height:52px; background-position: -488px -575px}
.gene_expressions {width:52px; height:52px; background-position: -542px -575px}
.gene_seed_purification {width:52px; height:52px; background-position: -596px -575px}
.gene_tailoring {width:52px; height:52px; background-position: -650px -575px}
.genetic_resequencing {width:52px; height:52px; background-position: -704px -575px}
.genome_mapping {width:52px; height:52px; background-position: -758px -575px}
.global_research_initiative {width:52px; height:52px; background-position: -812px -575px}
.green_crystal_weapon_1 {width:52px; height:52px; background-position: -866px -575px}
.habitat {width:52px; height:52px; background-position: -920px -575px}
.heritage_site {width:52px; height:52px; background-position: -974px -575px}
.holographic_rituals {width:52px; height:52px; background-position: -1028px -599px}
.hydroponics {width:52px; height:52px; background-position: -1082px -599px}
.hyper_drive_1 {width:52px; height:52px; background-position: -1136px -599px}
.hyper_drive_2 {width:52px; height:52px; background-position: -1190px -599px}
.hyper_drive_3 {width:52px; height:52px; background-position: -1244px -599px}
.hyper_entertainment_forum {width:52px; height:52px; background-position: -1298px -599px}
.hypercomms_forum {width:52px; height:52px; background-position: -1352px -599px}
.hyperlane_mapping {width:52px; height:52px; background-position: -1406px -599px}
.improved_armor_output {width:52px; height:52px; background-position: -1460px -650px}
.improved_army_damage {width:52px; height:52px; background-position: -1514px -650px}
.improved_army_health {width:52px; height:52px; background-position: -1568px -650px}
.improved_border_range {width:52px; height:52px; background-position: -1622px -650px}
.improved_core_system_cap {width:52px; height:52px; background-position: -1676px -650px}
.improved_databank_uplinks {width:52px; height:52px; background-position: -1730px -650px}
.improved_edict_length {width:52px; height:52px; background-position: -1784px -650px}
.improved_leader_cap {width:52px; height:52px; background-position: -1838px -650px}
.improved_leader_life_span {width:52px; height:52px; background-position: -1892px -650px}
.improved_military_station_damage {width:52px; height:52px; background-position: -2px -629px}
.improved_military_station_health {width:52px; height:52px; background-position: -56px -629px}
.improved_planet_sensor_range {width:52px; height:52px; background-position: -110px -629px}
.improved_sector_cap {width:52px; height:52px; background-position: -164px -629px}
.improved_shield_output {width:52px; height:52px; background-position: -218px -629px}
.improved_ship_health {width:52px; height:52px; background-position: -272px -629px}
.improved_slave_mineral_output {width:52px; height:52px; background-position: -326px -629px}
.improved_tile_energy_output {width:52px; height:52px; background-position: -380px -629px}
.improved_tile_food_output {width:52px; height:52px; background-position: -434px -629px}
.improved_tile_mineral_output {width:52px; height:52px; background-position: -488px -629px}
.industry {width:29px; height:29px; background-position: -1916px -64px}
.inhibitor_releases {width:52px; height:52px; background-position: -542px -629px}
.interstellar_campaigns {width:52px; height:52px; background-position: -596px -629px}
.interstellar_fleet_traditions {width:52px; height:52px; background-position: -650px -629px}
.jump_drive_1 {width:52px; height:52px; background-position: -704px -629px}
.kinetic_artillery_1 {width:52px; height:52px; background-position: -758px -629px}
.kinetic_artillery_2 {width:52px; height:52px; background-position: -812px -629px}
.large {width:25px; height:22px; background-position: -1916px -343px}
.lasers_1 {width:52px; height:52px; background-position: -866px -629px}
.lasers_2 {width:52px; height:52px; background-position: -920px -629px}
.lasers_3 {width:52px; height:52px; background-position: -974px -629px}
.lasers_4 {width:52px; height:52px; background-position: -1028px -653px}
.lasers_5 {width:52px; height:52px; background-position: -1082px -653px}
.living_state {width:52px; height:52px; background-position: -1136px -653px}
.lythuric {width:19px; height:19px; background-position: -1481px -974px}
.lythuric_gas {width:52px; height:52px; background-position: -1190px -653px}
.manifest_destiny {width:52px; height:52px; background-position: -1244px -653px}
.mass_accelerator_1 {width:52px; height:52px; background-position: -1298px -653px}
.mass_accelerator_2 {width:52px; height:52px; background-position: -1352px -653px}
.mass_drivers_1 {width:52px; height:52px; background-position: -1406px -653px}
.mass_drivers_2 {width:52px; height:52px; background-position: -1460px -704px}
.mass_drivers_3 {width:52px; height:52px; background-position: -1514px -704px}
.mass_drivers_4 {width:52px; height:52px; background-position: -1568px -704px}
.mass_drivers_5 {width:52px; height:52px; background-position: -1622px -704px}
.materials {width:29px; height:29px; background-position: -1916px -95px}
.medium {width:25px; height:22px; background-position: -1916px -367px}
.mega_engineering {width:52px; height:52px; background-position: -1676px -704px}
.military-theory {width:29px; height:29px; background-position: -1916px -126px}
.mine_betharian {width:52px; height:52px; background-position: -1730px -704px}
.mine_dark_matter {width:52px; height:52px; background-position: -1784px -704px}
.mine_garanthium {width:52px; height:52px; background-position: -1838px -704px}
.mine_living_metal {width:52px; height:52px; background-position: -1892px -704px}
.mine_neutronium {width:52px; height:52px; background-position: -2px -683px}
.mine_orillium {width:52px; height:52px; background-position: -56px -683px}
.mine_rare_resources_t1 {width:52px; height:52px; background-position: -110px -683px}
.mine_satramene {width:52px; height:52px; background-position: -164px -683px}
.mine_teldar {width:52px; height:52px; background-position: -218px -683px}
.mine_yuranic {width:52px; height:52px; background-position: -272px -683px}
.mine_zro {width:52px; height:52px; background-position: -326px -683px}
.mineral_processing_1 {width:52px; height:52px; background-position: -380px -683px}
.mineral_processing_2 {width:52px; height:52px; background-position: -434px -683px}
.mining_drone_weapon_1 {width:52px; height:52px; background-position: -488px -683px}
.mining_network_2 {width:52px; height:52px; background-position: -542px -683px}
.mining_network_3 {width:52px; height:52px; background-position: -596px -683px}
.mining_network_4 {width:52px; height:52px; background-position: -650px -683px}
.mining_network_5 {width:52px; height:52px; background-position: -704px -683px}
.mining_station_improvement_1 {width:52px; height:52px; background-position: -758px -683px}
.mining_station_improvement_2 {width:52px; height:52px; background-position: -812px -683px}
.mining_terminal {width:52px; height:52px; background-position: -866px -683px}
.minus {width:12px; height:12px; background-position: -1791px -974px}
.missiles_1 {width:52px; height:52px; background-position: -920px -683px}
.missiles_2 {width:52px; height:52px; background-position: -974px -683px}
.missiles_3 {width:52px; height:52px; background-position: -1028px -707px}
.missiles_4 {width:52px; height:52px; background-position: -1082px -707px}
.missiles_5 {width:52px; height:52px; background-position: -1136px -707px}
.morphogenetic_field_mastery {width:52px; height:52px; background-position: -1190px -707px}
.nano_vitality_crops {width:52px; height:52px; background-position: -1244px -707px}
.neural_implants {width:52px; height:52px; background-position: -1298px -707px}
.neutronium {width:19px; height:19px; background-position: -1502px -974px}
.new-worlds {width:29px; height:29px; background-position: -1916px -157px}
.nutrient_replication {width:52px; height:52px; background-position: -1352px -707px}
.ocean_colonization {width:52px; height:52px; background-position: -1406px -707px}
.old_tech_icons-anti_gravity_tech {width:52px; height:52px; background-position: -1460px -758px}
.old_tech_icons-antimatter_power_tech {width:52px; height:52px; background-position: -1514px -758px}
.old_tech_icons-chemical_computing_tech {width:52px; height:52px; background-position: -1568px -758px}
.old_tech_icons-cold_fusion_power_tech {width:52px; height:52px; background-position: -1622px -758px}
.old_tech_icons-fission_power_tech {width:52px; height:52px; background-position: -1676px -758px}
.old_tech_icons-fusion_power_tech {width:52px; height:52px; background-position: -1730px -758px}
.old_tech_icons-grav_lifts_tech {width:52px; height:52px; background-position: -1784px -758px}
.old_tech_icons-photonic_computing_tech {width:52px; height:52px; background-position: -1838px -758px}
.old_tech_icons-phys_exotic_particles_wormhole {width:52px; height:52px; background-position: -1892px -758px}
.old_tech_icons-planetary_databanks_tech {width:52px; height:52px; background-position: -2px -737px}
.old_tech_icons-quantum_computing_tech {width:52px; height:52px; background-position: -56px -737px}
.old_tech_icons-quantum_electric_vacuum_tech {width:52px; height:52px; background-position: -1354px -491px}
.old_tech_icons-tech_cloak_1 {width:52px; height:52px; background-position: -110px -737px}
.old_tech_icons-tech_cloak_1_old {width:52px; height:52px; background-position: -164px -737px}
.old_tech_icons-tech_cloak_2 {width:52px; height:52px; background-position: -218px -737px}
.old_tech_icons-tech_cloak_2_old {width:52px; height:52px; background-position: -272px -737px}
.old_tech_icons-tech_cryostasis {width:52px; height:52px; background-position: -326px -737px}
.old_tech_icons-tech_doctrine_command_matrix {width:52px; height:52px; background-position: -380px -737px}
.old_tech_icons-tech_nano_blocks {width:52px; height:52px; background-position: -434px -737px}
.old_tech_icons-tech_religious_monument_unused {width:52px; height:52px; background-position: -488px -737px}
.old_tech_icons-tech_shields_3 {width:52px; height:52px; background-position: -542px -737px}
.old_tech_icons-tech_tb_infestation {width:52px; height:52px; background-position: -596px -737px}
.old_tech_icons-tech_tb_radioactive_wasteland {width:52px; height:52px; background-position: -650px -737px}
.old_tech_icons-tech_xeno_relations {width:52px; height:52px; background-position: -704px -737px}
.old_tech_icons-tech_xeno_supremacy {width:52px; height:52px; background-position: -758px -737px}
.orbital_hydroponics {width:52px; height:52px; background-position: -812px -737px}
.orbital_sensor_array {width:52px; height:52px; background-position: -866px -737px}
.orillium {width:19px; height:19px; background-position: -1523px -974px}
.paradise_dome {width:52px; height:52px; background-position: -920px -737px}
.particles {width:29px; height:29px; background-position: -1916px -188px}
.pd_tracking_1 {width:52px; height:52px; background-position: -974px -737px}
.pd_tracking_2 {width:52px; height:52px; background-position: -1028px -761px}
.pd_tracking_3 {width:52px; height:52px; background-position: -1082px -761px}
.physics_lab_1 {width:52px; height:52px; background-position: -1136px -761px}
.physics_lab_2 {width:52px; height:52px; background-position: -1190px -761px}
.physics_lab_3 {width:52px; height:52px; background-position: -1244px -761px}
.physics_lab_4 {width:52px; height:52px; background-position: -1298px -761px}
.physics_lab_5 {width:52px; height:52px; background-position: -1352px -761px}
.pitharan {width:19px; height:19px; background-position: -1544px -974px}
.pitharan_dust {width:52px; height:52px; background-position: -1406px -761px}
.planetary_government {width:52px; height:52px; background-position: -1460px -812px}
.planetary_shield_generator {width:52px; height:52px; background-position: -1514px -812px}
.planetary_unification {width:52px; height:52px; background-position: -1568px -812px}
.plasma_1 {width:52px; height:52px; background-position: -1622px -812px}
.plasma_2 {width:52px; height:52px; background-position: -1676px -812px}
.plasma_3 {width:52px; height:52px; background-position: -1730px -812px}
.plus {width:12px; height:12px; background-position: -1805px -974px}
.power_hub_1 {width:52px; height:52px; background-position: -1784px -812px}
.power_hub_2 {width:52px; height:52px; background-position: -1838px -812px}
.power_plant_1 {width:52px; height:52px; background-position: -1892px -812px}
.power_plant_2 {width:52px; height:52px; background-position: -2px -791px}
.power_plant_3 {width:52px; height:52px; background-position: -56px -791px}
.power_plant_4 {width:52px; height:52px; background-position: -110px -791px}
.power_plant_5 {width:52px; height:52px; background-position: -164px -791px}
.powered_exoskeletons {width:52px; height:52px; background-position: -218px -791px}
.precognition_interface {width:52px; height:52px; background-position: -272px -791px}
.psi_jump_drive_1 {width:52px; height:52px; background-position: -326px -791px}
.psi_jump_drives {width:52px; height:52px; background-position: -380px -791px}
.psionic_shield {width:52px; height:52px; background-position: -434px -791px}
.psionic_theory {width:52px; height:52px; background-position: -488px -791px}
.psionics {width:29px; height:29px; background-position: -1916px -219px}
.pure_seed_farming {width:52px; height:52px; background-position: -542px -791px}
.purity_campaigns {width:52px; height:52px; background-position: -596px -791px}
.red_crystal_weapon_1 {width:52px; height:52px; background-position: -650px -791px}
.reduced_building_cost {width:52px; height:52px; background-position: -704px -791px}
.reduced_building_time {width:52px; height:52px; background-position: -758px -791px}
.reduced_leader_cost {width:52px; height:52px; background-position: -812px -791px}
.regenerative_hull_tissue {width:52px; height:52px; background-position: -866px -791px}
.repeatable {width:18px; height:14px; background-position: -1916px -415px}
.replicators {width:52px; height:52px; background-position: -920px -791px}
.research-engineering {width:18px; height:18px; background-position: -1462px -522px}
.research-physics {width:18px; height:18px; background-position: -1691px -974px}
.research-society {width:18px; height:18px; background-position: -1711px -974px}
.reveal_luxuries_1 {width:52px; height:52px; background-position: -974px -791px}
.reveal_luxuries_2 {width:52px; height:52px; background-position: -1028px -815px}
.robotic_workers {width:52px; height:52px; background-position: -1082px -815px}
.rocketry {width:29px; height:29px; background-position: -1916px -250px}
.satramene {width:19px; height:19px; background-position: -1565px -974px}
.scourge_missile_1 {width:52px; height:52px; background-position: -1136px -815px}
.selected_lineages {width:52px; height:52px; background-position: -1190px -815px}
.self_aware_logic {width:52px; height:52px; background-position: -1244px -815px}
.sensors_2 {width:52px; height:52px; background-position: -1298px -815px}
.sensors_3 {width:52px; height:52px; background-position: -1352px -815px}
.sensors_4 {width:52px; height:52px; background-position: -1406px -815px}
.sentient_ai {width:52px; height:52px; background-position: -1460px -866px}
.shield_recharge_aura_1 {width:52px; height:52px; background-position: -1538px -380px}
.shield_rechargers_1 {width:52px; height:52px; background-position: -1514px -866px}
.shields_1 {width:52px; height:52px; background-position: -1568px -866px}
.shields_2 {width:52px; height:52px; background-position: -1622px -866px}
.shields_3 {width:52px; height:52px; background-position: -1676px -866px}
.shields_4 {width:52px; height:52px; background-position: -1730px -866px}
.shields_5 {width:52px; height:52px; background-position: -1784px -866px}
.ship_armor_1 {width:52px; height:52px; background-position: -1838px -866px}
.ship_armor_2 {width:52px; height:52px; background-position: -1892px -866px}
.ship_armor_3 {width:52px; height:52px; background-position: -2px -845px}
.ship_armor_4 {width:52px; height:52px; background-position: -56px -845px}
.ship_armor_5 {width:52px; height:52px; background-position: -110px -845px}
.small {width:25px; height:22px; background-position: -1916px -391px}
.solar_panel_network {width:52px; height:52px; background-position: -164px -845px}
.space_cloud_weapon_1 {width:52px; height:52px; background-position: -218px -845px}
.space_construction {width:52px; height:52px; background-position: -272px -845px}
.space_defense_station_1 {width:52px; height:52px; background-position: -326px -845px}
.space_defense_station_2 {width:52px; height:52px; background-position: -380px -845px}
.space_defense_station_3 {width:52px; height:52px; background-position: -434px -845px}
.space_defense_station_improvement {width:52px; height:52px; background-position: -488px -845px}
.space_whale_weapon_1 {width:52px; height:52px; background-position: -542px -845px}
.spaceport_1 {width:52px; height:52px; background-position: -596px -845px}
.spaceport_2 {width:52px; height:52px; background-position: -650px -845px}
.spaceport_3 {width:52px; height:52px; background-position: -704px -845px}
.spaceport_4 {width:52px; height:52px; background-position: -758px -845px}
.spaceport_5 {width:52px; height:52px; background-position: -812px -845px}
.spaceport_6 {width:52px; height:52px; background-position: -866px -845px}
.spaceport_optimization {width:52px; height:52px; background-position: -920px -845px}
.spy_orb {width:52px; height:52px; background-position: -974px -845px}
.statecraft {width:29px; height:29px; background-position: -1916px -281px}
.strike_craft_1 {width:52px; height:52px; background-position: -1028px -869px}
.strike_craft_2 {width:52px; height:52px; background-position: -1082px -869px}
.strike_craft_3 {width:52px; height:52px; background-position: -1136px -869px}
.subdermal_stimulation {width:52px; height:52px; background-position: -1190px -869px}
.swarm_strike_craft_1 {width:52px; height:52px; background-position: -1244px -869px}
.swarmer_missiles_1 {width:52px; height:52px; background-position: -1298px -869px}
.swarmer_missiles_2 {width:52px; height:52px; background-position: -1352px -869px}
.symbol_unity {width:52px; height:52px; background-position: -1406px -869px}
.synchronized_defences {width:52px; height:52px; background-position: -1460px -920px}
.synchronized_work_patterns {width:52px; height:52px; background-position: -1514px -920px}
.synthetic_leaders {width:52px; height:52px; background-position: -1568px -920px}
.synthetic_thought_patterns {width:52px; height:52px; background-position: -1622px -920px}
.synthetic_workers {width:52px; height:52px; background-position: -1676px -920px}
.tb_dangerous_wildlife {width:52px; height:52px; background-position: -1730px -920px}
.tb_deep_sinkhole {width:52px; height:52px; background-position: -1784px -920px}
.tb_dense_jungle {width:52px; height:52px; background-position: -1838px -920px}
.tb_massive_glacier {width:52px; height:52px; background-position: -1892px -920px}
.tb_mountain_range {width:52px; height:52px; background-position: -2px -899px}
.tb_noxious_swamp {width:52px; height:52px; background-position: -56px -899px}
.tb_quicksand_basin {width:52px; height:52px; background-position: -110px -899px}
.tb_toxic_kelp {width:52px; height:52px; background-position: -164px -899px}
.tb_volcano {width:52px; height:52px; background-position: -218px -899px}
.tech_bg_dangerous {width:452px; height:85px; background-position: -1030px -2px}
.tech_bg_engineering {width:452px; height:85px; background-position: -1030px -89px}
.tech_bg_physics {width:452px; height:85px; background-position: -1030px -176px}
.tech_bg_rare {width:452px; height:85px; background-position: -1030px -263px}
.tech_bg_society {width:452px; height:85px; background-position: -1030px -350px}
.teldar {width:19px; height:19px; background-position: -1586px -974px}
.telepathy {width:52px; height:52px; background-position: -272px -899px}
.terraform_gases {width:19px; height:19px; background-position: -1607px -974px}
.terraform_liquids {width:19px; height:19px; background-position: -1628px -974px}
.terrestrial_sculpting {width:52px; height:52px; background-position: -326px -899px}
.think_tank {width:52px; height:52px; background-position: -380px -899px}
.thrusters_1 {width:52px; height:52px; background-position: -434px -899px}
.thrusters_2 {width:52px; height:52px; background-position: -488px -899px}
.thrusters_3 {width:52px; height:52px; background-position: -542px -899px}
.thrusters_4 {width:52px; height:52px; background-position: -596px -899px}
.tier-1 {width:13px; height:13px; background-position: -1731px -974px}
.tier-2 {width:13px; height:13px; background-position: -1746px -974px}
.tier-3 {width:13px; height:13px; background-position: -1761px -974px}
.tier-4 {width:13px; height:13px; background-position: -1776px -974px}
.tomb_world_adaption {width:52px; height:52px; background-position: -650px -899px}
.torpedoes_1 {width:52px; height:52px; background-position: -704px -899px}
.torpedoes_2 {width:52px; height:52px; background-position: -758px -899px}
.torpedoes_3 {width:52px; height:52px; background-position: -812px -899px}
.transcendent_faith {width:52px; height:52px; background-position: -866px -899px}
.transcendent_thought {width:52px; height:52px; background-position: -920px -899px}
.tropical_colonization {width:52px; height:52px; background-position: -974px -899px}
.tundra_colonization {width:52px; height:52px; background-position: -1028px -923px}
.universal_assemblers {width:52px; height:52px; background-position: -1082px -923px}
.unknown {width:52px; height:52px; background-position: -1136px -923px}
.virtual_combat_arena {width:52px; height:52px; background-position: -1190px -923px}
.visitor_center {width:52px; height:52px; background-position: -1244px -923px}
.vitality_boosters {width:52px; height:52px; background-position: -1298px -923px}
.voidcraft {width:29px; height:29px; background-position: -1916px -312px}
.warp_drive_1 {width:52px; height:52px; background-position: -1352px -923px}
.warp_drive_2 {width:52px; height:52px; background-position: -1406px -923px}
.warp_drive_3 {width:52px; height:52px; background-position: -2px -953px}
.weapon_type_energy_damage {width:52px; height:52px; background-position: -56px -953px}
.weapon_type_energy_fire_rate {width:52px; height:52px; background-position: -110px -953px}
.weapon_type_explosive_damage {width:52px; height:52px; background-position: -164px -953px}
.weapon_type_explosive_fire_rate {width:52px; height:52px; background-position: -218px -953px}
.weapon_type_kinetic_damage {width:52px; height:52px; background-position: -272px -953px}
.weapon_type_kinetic_fire_rate {width:52px; height:52px; background-position: -326px -953px}
.weapon_type_strike_craft_fire_damage {width:52px; height:52px; background-position: -380px -953px}
.weapon_type_strike_craft_fire_rate {width:52px; height:52px; background-position: -434px -953px}
.will_to_power {width:52px; height:52px; background-position: -488px -953px}
.wormhole_generation_1 {width:52px; height:52px; background-position: -542px -953px}
.wormhole_generation_2 {width:52px; height:52px; background-position: -596px -953px}
.wormhole_generation_3 {width:52px; height:52px; background-position: -650px -953px}
.xeno_diplomacy {width:52px; height:52px; background-position: -704px -953px}
.xeno_integration {width:52px; height:52px; background-position: -758px -953px}
.xeno_outreach {width:52px; height:52px; background-position: -1700px -272px}
.xeno_relations {width:52px; height:52px; background-position: -1700px -326px}
.xeno_supremacy {width:52px; height:52px; background-position: -1700px -380px}
.xeno_zoo {width:52px; height:52px; background-position: -812px -953px}
.yellow_crystal_weapon_1 {width:52px; height:52px; background-position: -866px -953px}
.yuranic {width:19px; height:19px; background-position: -1649px -974px}
.zero_gravity_assembly_sequence {width:52px; height:52px; background-position: -920px -953px}
.zero_point_power {width:52px; height:52px; background-position: -974px -953px}
.zro {width:19px; height:19px; background-position: -1670px -974px}
