
.leaf {
    width: 452px;
    height: 85px;
    position: relative;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.leaf strong {
    font-weight: bold;
}

.leaf h1 {
    font-size: 1.4rem;
}

.leaf h2 {
    font-size: 1.2rem;
}


.tech-img{
    position: absolute;
    bottom: 5px;
    left:4px;
}
.tech-bg-physics{
    background:url("/images/tech_bg_physics.png")
}
.tech-bg-society{
    background:url("/images/tech_bg_society.png")
}
.tech-bg-engineering{
    background:url("/images/tech_bg_engineering.png")
}
.tech-bg-rare{
    background:url("/images/tech_bg_rare.png")
}
.tech-bg-dangerous{
    background:url("/images/tech_bg_dangerous.png")
}