/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:158a296afbe49d250c2aa3eab050c8bd:e5d1337e1ee3c60b2d35101749aa275a:288d8dc7049ceb2a0513d06cee76e88d$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.tech-icon {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/tech-icon.png);}

.adaptive_bureaucracy {width:52px; height:52px; background-position: -0px -0px}
.administrative_ai {width:52px; height:52px; background-position: -52px -0px}
.afterburners_1 {width:52px; height:52px; background-position: -104px -0px}
.afterburners_2 {width:52px; height:52px; background-position: -156px -0px}
.akx_worm_1 {width:52px; height:52px; background-position: -208px -0px}
.akx_worm_2 {width:52px; height:52px; background-position: -260px -0px}
.akx_worm_3 {width:52px; height:52px; background-position: -312px -0px}
.alien_life_studies {width:52px; height:52px; background-position: -364px -0px}
.alien_sanctuary {width:52px; height:52px; background-position: -416px -0px}
.amoeba_strike_craft_1 {width:52px; height:52px; background-position: -468px -0px}
.antimatter_power {width:52px; height:52px; background-position: -520px -0px}
.arc_emitter_1 {width:52px; height:52px; background-position: -572px -0px}
.arc_emitter_2 {width:52px; height:52px; background-position: -624px -0px}
.archeology_lab {width:52px; height:52px; background-position: -676px -0px}
.arctic_colonization {width:52px; height:52px; background-position: -728px -0px}
.arid_colonization {width:52px; height:52px; background-position: -780px -0px}
.artificial_moral_codes {width:52px; height:52px; background-position: -832px -0px}
.ascension_theory {width:52px; height:52px; background-position: -884px -0px}
.assault_armies {width:52px; height:52px; background-position: -936px -0px}
.assembly_pattern {width:52px; height:52px; background-position: -0px -52px}
.atmospheric_manipulation {width:52px; height:52px; background-position: -52px -52px}
.aura_minefield {width:52px; height:52px; background-position: -104px -52px}
.aura_nanobot {width:52px; height:52px; background-position: -156px -52px}
.aura_quantum_destabilizer {width:52px; height:52px; background-position: -208px -52px}
.aura_shield_dampener {width:52px; height:52px; background-position: -260px -52px}
.aura_shield_recharger {width:52px; height:52px; background-position: -312px -52px}
.aura_snare {width:52px; height:52px; background-position: -364px -52px}
.autocannons_1 {width:52px; height:52px; background-position: -416px -52px}
.autocannons_2 {width:52px; height:52px; background-position: -468px -52px}
.autocannons_3 {width:52px; height:52px; background-position: -520px -52px}
.autocurating_vault {width:52px; height:52px; background-position: -572px -52px}
.automated_exploration {width:52px; height:52px; background-position: -624px -52px}
.basic_industry {width:52px; height:52px; background-position: -676px -52px}
.basic_science_lab_1 {width:52px; height:52px; background-position: -728px -52px}
.battleship_yard {width:52px; height:52px; background-position: -780px -52px}
.battleships {width:52px; height:52px; background-position: -832px -52px}
.biolab_1 {width:52px; height:52px; background-position: -884px -52px}
.biolab_2 {width:52px; height:52px; background-position: -936px -52px}
.biolab_3 {width:52px; height:52px; background-position: -0px -104px}
.biolab_4 {width:52px; height:52px; background-position: -52px -104px}
.biolab_5 {width:52px; height:52px; background-position: -104px -104px}
.blue_crystal_weapon_1 {width:52px; height:52px; background-position: -156px -104px}
.capacity_boosters {width:52px; height:52px; background-position: -208px -104px}
.centralized_command {width:52px; height:52px; background-position: -260px -104px}
.climate_restoration {width:52px; height:52px; background-position: -312px -104px}
.cloning {width:52px; height:52px; background-position: -364px -104px}
.cold_fusion_power {width:52px; height:52px; background-position: -416px -104px}
.collective_self {width:52px; height:52px; background-position: -468px -104px}
.colonial_bureaucracy {width:52px; height:52px; background-position: -520px -104px}
.colonial_centralization {width:52px; height:52px; background-position: -572px -104px}
.colonization_1 {width:52px; height:52px; background-position: -624px -104px}
.colonization_2 {width:52px; height:52px; background-position: -676px -104px}
.colonization_3 {width:52px; height:52px; background-position: -728px -104px}
.colonization_4 {width:52px; height:52px; background-position: -780px -104px}
.colonization_5 {width:52px; height:52px; background-position: -832px -104px}
.combat_computers_1 {width:52px; height:52px; background-position: -884px -104px}
.combat_computers_2 {width:52px; height:52px; background-position: -936px -104px}
.combat_computers_3 {width:52px; height:52px; background-position: -0px -156px}
.combat_training {width:52px; height:52px; background-position: -52px -156px}
.construction_templates {width:52px; height:52px; background-position: -104px -156px}
.continental_colonization {width:52px; height:52px; background-position: -156px -156px}
.corvette_assembly {width:52px; height:52px; background-position: -208px -156px}
.corvettes {width:52px; height:52px; background-position: -260px -156px}
.cruiser_yard {width:52px; height:52px; background-position: -312px -156px}
.cruisers {width:52px; height:52px; background-position: -364px -156px}
.cryostasis_1 {width:52px; height:52px; background-position: -416px -156px}
.cryostasis_2 {width:52px; height:52px; background-position: -468px -156px}
.crystal_armor_1 {width:52px; height:52px; background-position: -520px -156px}
.crystal_armor_2 {width:52px; height:52px; background-position: -572px -156px}
.cultural_heritage {width:52px; height:52px; background-position: -624px -156px}
.curator_lab {width:52px; height:52px; background-position: -676px -156px}
.databank_uplinks {width:52px; height:52px; background-position: -728px -156px}
.deep_scan {width:52px; height:52px; background-position: -780px -156px}
.defense_army {width:52px; height:52px; background-position: -832px -156px}
.desert_colonization {width:52px; height:52px; background-position: -884px -156px}
.destroyer_assembly {width:52px; height:52px; background-position: -936px -156px}
.destroyers {width:52px; height:52px; background-position: -0px -208px}
.diplomacy_1 {width:52px; height:52px; background-position: -52px -208px}
.diplomacy_2 {width:52px; height:52px; background-position: -104px -208px}
.diplomacy_3 {width:52px; height:52px; background-position: -156px -208px}
.disruptors_1 {width:52px; height:52px; background-position: -208px -208px}
.disruptors_2 {width:52px; height:52px; background-position: -260px -208px}
.disruptors_3 {width:52px; height:52px; background-position: -312px -208px}
.doctrine_command_matrix {width:52px; height:52px; background-position: -364px -208px}
.doctrine_fleet_size_1 {width:52px; height:52px; background-position: -416px -208px}
.doctrine_fleet_size_2 {width:52px; height:52px; background-position: -468px -208px}
.doctrine_fleet_size_3 {width:52px; height:52px; background-position: -520px -208px}
.doctrine_fleet_size_4 {width:52px; height:52px; background-position: -572px -208px}
.doctrine_fleet_size_5 {width:52px; height:52px; background-position: -624px -208px}
.doctrine_fleet_support {width:52px; height:52px; background-position: -676px -208px}
.doctrine_refit_standards {width:52px; height:52px; background-position: -728px -208px}
.dragon_armor {width:52px; height:52px; background-position: -780px -208px}
.droid_workers {width:52px; height:52px; background-position: -832px -208px}
.drop_pod {width:52px; height:52px; background-position: -884px -208px}
.dyson_sphere {width:52px; height:52px; background-position: -936px -208px}
.eco_simulation {width:52px; height:52px; background-position: -0px -260px}
.ecological_adaptation {width:52px; height:52px; background-position: -52px -260px}
.energy_lance_1 {width:52px; height:52px; background-position: -104px -260px}
.energy_lance_2 {width:52px; height:52px; background-position: -156px -260px}
.energy_torpedoes_1 {width:52px; height:52px; background-position: -208px -260px}
.energy_torpedoes_2 {width:52px; height:52px; background-position: -260px -260px}
.engineering_lab_1 {width:52px; height:52px; background-position: -312px -260px}
.engineering_lab_2 {width:52px; height:52px; background-position: -364px -260px}
.engineering_lab_3 {width:52px; height:52px; background-position: -416px -260px}
.engineering_lab_4 {width:52px; height:52px; background-position: -468px -260px}
.engineering_lab_5 {width:52px; height:52px; background-position: -520px -260px}
.engos_vapor {width:52px; height:52px; background-position: -572px -260px}
.enigmatic_decoder {width:52px; height:52px; background-position: -624px -260px}
.enigmatic_deflector {width:52px; height:52px; background-position: -676px -260px}
.enigmatic_disruption_field {width:52px; height:52px; background-position: -728px -260px}
.enigmatic_encoder {width:52px; height:52px; background-position: -780px -260px}
.enigmatic_power_core {width:52px; height:52px; background-position: -832px -260px}
.epigenetic_triggers {width:52px; height:52px; background-position: -884px -260px}
.ethical_equations {width:52px; height:52px; background-position: -936px -260px}
.extradimensional_weapon_1 {width:52px; height:52px; background-position: -0px -312px}
.fission_power {width:52px; height:52px; background-position: -52px -312px}
.flak_batteries_1 {width:52px; height:52px; background-position: -104px -312px}
.flak_batteries_2 {width:52px; height:52px; background-position: -156px -312px}
.frontier_collectives {width:52px; height:52px; background-position: -208px -312px}
.frontier_commissars {width:52px; height:52px; background-position: -260px -312px}
.frontier_health {width:52px; height:52px; background-position: -312px -312px}
.frontier_hospital {width:52px; height:52px; background-position: -312px -312px}
.frontier_initiatives {width:52px; height:52px; background-position: -364px -312px}
.frontier_traditions {width:52px; height:52px; background-position: -416px -312px}
.fusion_power {width:52px; height:52px; background-position: -468px -312px}
.gaia_creation {width:52px; height:52px; background-position: -520px -312px}
.galactic_administration {width:52px; height:52px; background-position: -572px -312px}
.galactic_ambitions {width:52px; height:52px; background-position: -624px -312px}
.galactic_benevolence {width:52px; height:52px; background-position: -676px -312px}
.galactic_bureaucracy {width:52px; height:52px; background-position: -728px -312px}
.galactic_campaigns {width:52px; height:52px; background-position: -780px -312px}
.galactic_markets {width:52px; height:52px; background-position: -832px -312px}
.gene_banks {width:52px; height:52px; background-position: -884px -312px}
.gene_crops {width:52px; height:52px; background-position: -936px -312px}
.gene_expressions {width:52px; height:52px; background-position: -0px -364px}
.gene_seed_purification {width:52px; height:52px; background-position: -52px -364px}
.gene_tailoring {width:52px; height:52px; background-position: -104px -364px}
.genetic_resequencing {width:52px; height:52px; background-position: -156px -364px}
.genome_mapping {width:52px; height:52px; background-position: -208px -364px}
.global_research_initiative {width:52px; height:52px; background-position: -260px -364px}
.green_crystal_weapon_1 {width:52px; height:52px; background-position: -312px -364px}
.habitat {width:52px; height:52px; background-position: -364px -364px}
.heritage_site {width:52px; height:52px; background-position: -416px -364px}
.holographic_rituals {width:52px; height:52px; background-position: -468px -364px}
.hydroponics {width:52px; height:52px; background-position: -520px -364px}
.hyper_drive_1 {width:52px; height:52px; background-position: -572px -364px}
.hyper_drive_2 {width:52px; height:52px; background-position: -624px -364px}
.hyper_drive_3 {width:52px; height:52px; background-position: -676px -364px}
.hyper_entertainment_forum {width:52px; height:52px; background-position: -728px -364px}
.hypercomms_forum {width:52px; height:52px; background-position: -780px -364px}
.hyperlane_mapping {width:52px; height:52px; background-position: -832px -364px}
.improved_armor_output {width:52px; height:52px; background-position: -884px -364px}
.improved_army_damage {width:52px; height:52px; background-position: -936px -364px}
.improved_army_health {width:52px; height:52px; background-position: -0px -416px}
.improved_border_range {width:52px; height:52px; background-position: -52px -416px}
.improved_core_system_cap {width:52px; height:52px; background-position: -104px -416px}
.improved_databank_uplinks {width:52px; height:52px; background-position: -156px -416px}
.improved_edict_length {width:52px; height:52px; background-position: -208px -416px}
.improved_leader_cap {width:52px; height:52px; background-position: -260px -416px}
.improved_leader_life_span {width:52px; height:52px; background-position: -312px -416px}
.improved_military_station_damage {width:52px; height:52px; background-position: -364px -416px}
.improved_military_station_health {width:52px; height:52px; background-position: -416px -416px}
.improved_planet_sensor_range {width:52px; height:52px; background-position: -468px -416px}
.improved_sector_cap {width:52px; height:52px; background-position: -520px -416px}
.improved_shield_output {width:52px; height:52px; background-position: -572px -416px}
.improved_ship_health {width:52px; height:52px; background-position: -624px -416px}
.improved_slave_mineral_output {width:52px; height:52px; background-position: -676px -416px}
.improved_tile_energy_output {width:52px; height:52px; background-position: -728px -416px}
.improved_tile_food_output {width:52px; height:52px; background-position: -780px -416px}
.improved_tile_mineral_output {width:52px; height:52px; background-position: -832px -416px}
.inhibitor_releases {width:52px; height:52px; background-position: -884px -416px}
.interstellar_campaigns {width:52px; height:52px; background-position: -936px -416px}
.interstellar_fleet_traditions {width:52px; height:52px; background-position: -0px -468px}
.jump_drive_1 {width:52px; height:52px; background-position: -52px -468px}
.kinetic_artillery_1 {width:52px; height:52px; background-position: -104px -468px}
.kinetic_artillery_2 {width:52px; height:52px; background-position: -156px -468px}
.lasers_1 {width:52px; height:52px; background-position: -208px -468px}
.lasers_2 {width:52px; height:52px; background-position: -260px -468px}
.lasers_3 {width:52px; height:52px; background-position: -312px -468px}
.lasers_4 {width:52px; height:52px; background-position: -364px -468px}
.lasers_5 {width:52px; height:52px; background-position: -416px -468px}
.living_state {width:52px; height:52px; background-position: -468px -468px}
.lythuric_gas {width:52px; height:52px; background-position: -520px -468px}
.manifest_destiny {width:52px; height:52px; background-position: -572px -468px}
.mass_accelerator_1 {width:52px; height:52px; background-position: -624px -468px}
.mass_accelerator_2 {width:52px; height:52px; background-position: -676px -468px}
.mass_drivers_1 {width:52px; height:52px; background-position: -728px -468px}
.mass_drivers_2 {width:52px; height:52px; background-position: -780px -468px}
.mass_drivers_3 {width:52px; height:52px; background-position: -832px -468px}
.mass_drivers_4 {width:52px; height:52px; background-position: -884px -468px}
.mass_drivers_5 {width:52px; height:52px; background-position: -936px -468px}
.mega_engineering {width:52px; height:52px; background-position: -0px -520px}
.mine_betharian {width:52px; height:52px; background-position: -52px -520px}
.mine_dark_matter {width:52px; height:52px; background-position: -104px -520px}
.mine_garanthium {width:52px; height:52px; background-position: -156px -520px}
.mine_living_metal {width:52px; height:52px; background-position: -208px -520px}
.mine_neutronium {width:52px; height:52px; background-position: -260px -520px}
.mine_orillium {width:52px; height:52px; background-position: -312px -520px}
.mine_rare_resources_t1 {width:52px; height:52px; background-position: -364px -520px}
.mine_satramene {width:52px; height:52px; background-position: -416px -520px}
.mine_teldar {width:52px; height:52px; background-position: -468px -520px}
.mine_yuranic {width:52px; height:52px; background-position: -520px -520px}
.mine_zro {width:52px; height:52px; background-position: -572px -520px}
.mineral_processing_1 {width:52px; height:52px; background-position: -624px -520px}
.mineral_processing_2 {width:52px; height:52px; background-position: -676px -520px}
.mining_drone_weapon_1 {width:52px; height:52px; background-position: -728px -520px}
.mining_network_2 {width:52px; height:52px; background-position: -780px -520px}
.mining_network_3 {width:52px; height:52px; background-position: -832px -520px}
.mining_network_4 {width:52px; height:52px; background-position: -884px -520px}
.mining_network_5 {width:52px; height:52px; background-position: -936px -520px}
.mining_station_improvement_1 {width:52px; height:52px; background-position: -0px -572px}
.mining_station_improvement_2 {width:52px; height:52px; background-position: -52px -572px}
.mining_terminal {width:52px; height:52px; background-position: -104px -572px}
.missiles_1 {width:52px; height:52px; background-position: -156px -572px}
.missiles_2 {width:52px; height:52px; background-position: -208px -572px}
.missiles_3 {width:52px; height:52px; background-position: -260px -572px}
.missiles_4 {width:52px; height:52px; background-position: -312px -572px}
.missiles_5 {width:52px; height:52px; background-position: -364px -572px}
.morphogenetic_field_mastery {width:52px; height:52px; background-position: -416px -572px}
.nano_vitality_crops {width:52px; height:52px; background-position: -468px -572px}
.neural_implants {width:52px; height:52px; background-position: -520px -572px}
.nutrient_replication {width:52px; height:52px; background-position: -572px -572px}
.ocean_colonization {width:52px; height:52px; background-position: -624px -572px}
.orbital_hydroponics {width:52px; height:52px; background-position: -676px -572px}
.orbital_sensor_array {width:52px; height:52px; background-position: -728px -572px}
.paradise_dome {width:52px; height:52px; background-position: -780px -572px}
.pd_tracking_1 {width:52px; height:52px; background-position: -832px -572px}
.pd_tracking_2 {width:52px; height:52px; background-position: -884px -572px}
.pd_tracking_3 {width:52px; height:52px; background-position: -936px -572px}
.physics_lab_1 {width:52px; height:52px; background-position: -0px -624px}
.physics_lab_2 {width:52px; height:52px; background-position: -52px -624px}
.physics_lab_3 {width:52px; height:52px; background-position: -104px -624px}
.physics_lab_4 {width:52px; height:52px; background-position: -156px -624px}
.physics_lab_5 {width:52px; height:52px; background-position: -208px -624px}
.pitharan_dust {width:52px; height:52px; background-position: -260px -624px}
.planetary_government {width:52px; height:52px; background-position: -312px -624px}
.planetary_shield_generator {width:52px; height:52px; background-position: -364px -624px}
.planetary_unification {width:52px; height:52px; background-position: -416px -624px}
.plasma_1 {width:52px; height:52px; background-position: -468px -624px}
.plasma_2 {width:52px; height:52px; background-position: -520px -624px}
.plasma_3 {width:52px; height:52px; background-position: -572px -624px}
.power_hub_1 {width:52px; height:52px; background-position: -624px -624px}
.power_hub_2 {width:52px; height:52px; background-position: -676px -624px}
.power_plant_1 {width:52px; height:52px; background-position: -728px -624px}
.power_plant_2 {width:52px; height:52px; background-position: -780px -624px}
.power_plant_3 {width:52px; height:52px; background-position: -832px -624px}
.power_plant_4 {width:52px; height:52px; background-position: -884px -624px}
.power_plant_5 {width:52px; height:52px; background-position: -936px -624px}
.powered_exoskeletons {width:52px; height:52px; background-position: -0px -676px}
.precognition_interface {width:52px; height:52px; background-position: -52px -676px}
.psi_jump_drive_1 {width:52px; height:52px; background-position: -104px -676px}
.psi_jump_drives {width:52px; height:52px; background-position: -156px -676px}
.psionic_shield {width:52px; height:52px; background-position: -208px -676px}
.psionic_theory {width:52px; height:52px; background-position: -260px -676px}
.pure_seed_farming {width:52px; height:52px; background-position: -312px -676px}
.purity_campaigns {width:52px; height:52px; background-position: -364px -676px}
.red_crystal_weapon_1 {width:52px; height:52px; background-position: -416px -676px}
.reduced_building_cost {width:52px; height:52px; background-position: -468px -676px}
.reduced_building_time {width:52px; height:52px; background-position: -520px -676px}
.reduced_leader_cost {width:52px; height:52px; background-position: -572px -676px}
.regenerative_hull_tissue {width:52px; height:52px; background-position: -624px -676px}
.replicators {width:52px; height:52px; background-position: -676px -676px}
.reveal_luxuries_1 {width:52px; height:52px; background-position: -728px -676px}
.reveal_luxuries_2 {width:52px; height:52px; background-position: -780px -676px}
.robotic_workers {width:52px; height:52px; background-position: -832px -676px}
.scourge_missile_1 {width:52px; height:52px; background-position: -884px -676px}
.selected_lineages {width:52px; height:52px; background-position: -936px -676px}
.self_aware_logic {width:52px; height:52px; background-position: -0px -728px}
.sensors_2 {width:52px; height:52px; background-position: -52px -728px}
.sensors_3 {width:52px; height:52px; background-position: -104px -728px}
.sensors_4 {width:52px; height:52px; background-position: -156px -728px}
.sentient_ai {width:52px; height:52px; background-position: -208px -728px}
.shield_recharge_aura_1 {width:52px; height:52px; background-position: -312px -52px}
.shield_rechargers_1 {width:52px; height:52px; background-position: -260px -728px}
.shields_1 {width:52px; height:52px; background-position: -312px -728px}
.shields_2 {width:52px; height:52px; background-position: -364px -728px}
.shields_3 {width:52px; height:52px; background-position: -416px -728px}
.shields_4 {width:52px; height:52px; background-position: -468px -728px}
.shields_5 {width:52px; height:52px; background-position: -520px -728px}
.ship_armor_1 {width:52px; height:52px; background-position: -572px -728px}
.ship_armor_2 {width:52px; height:52px; background-position: -624px -728px}
.ship_armor_3 {width:52px; height:52px; background-position: -676px -728px}
.ship_armor_4 {width:52px; height:52px; background-position: -728px -728px}
.ship_armor_5 {width:52px; height:52px; background-position: -780px -728px}
.solar_panel_network {width:52px; height:52px; background-position: -832px -728px}
.space_cloud_weapon_1 {width:52px; height:52px; background-position: -884px -728px}
.space_construction {width:52px; height:52px; background-position: -936px -728px}
.space_defense_station_1 {width:52px; height:52px; background-position: -0px -780px}
.space_defense_station_2 {width:52px; height:52px; background-position: -52px -780px}
.space_defense_station_3 {width:52px; height:52px; background-position: -104px -780px}
.space_defense_station_improvement {width:52px; height:52px; background-position: -156px -780px}
.space_whale_weapon_1 {width:52px; height:52px; background-position: -208px -780px}
.spaceport_1 {width:52px; height:52px; background-position: -260px -780px}
.spaceport_2 {width:52px; height:52px; background-position: -312px -780px}
.spaceport_3 {width:52px; height:52px; background-position: -364px -780px}
.spaceport_4 {width:52px; height:52px; background-position: -416px -780px}
.spaceport_5 {width:52px; height:52px; background-position: -468px -780px}
.spaceport_6 {width:52px; height:52px; background-position: -520px -780px}
.spaceport_optimization {width:52px; height:52px; background-position: -572px -780px}
.spy_orb {width:52px; height:52px; background-position: -624px -780px}
.strike_craft_1 {width:52px; height:52px; background-position: -676px -780px}
.strike_craft_2 {width:52px; height:52px; background-position: -728px -780px}
.strike_craft_3 {width:52px; height:52px; background-position: -780px -780px}
.subdermal_stimulation {width:52px; height:52px; background-position: -832px -780px}
.swarm_strike_craft_1 {width:52px; height:52px; background-position: -884px -780px}
.swarmer_missiles_1 {width:52px; height:52px; background-position: -936px -780px}
.swarmer_missiles_2 {width:52px; height:52px; background-position: -0px -832px}
.symbol_unity {width:52px; height:52px; background-position: -52px -832px}
.synchronized_defences {width:52px; height:52px; background-position: -104px -832px}
.synchronized_work_patterns {width:52px; height:52px; background-position: -156px -832px}
.synthetic_leaders {width:52px; height:52px; background-position: -208px -832px}
.synthetic_thought_patterns {width:52px; height:52px; background-position: -260px -832px}
.synthetic_workers {width:52px; height:52px; background-position: -312px -832px}
.tb_dangerous_wildlife {width:52px; height:52px; background-position: -364px -832px}
.tb_deep_sinkhole {width:52px; height:52px; background-position: -416px -832px}
.tb_dense_jungle {width:52px; height:52px; background-position: -468px -832px}
.tb_massive_glacier {width:52px; height:52px; background-position: -520px -832px}
.tb_mountain_range {width:52px; height:52px; background-position: -572px -832px}
.tb_noxious_swamp {width:52px; height:52px; background-position: -624px -832px}
.tb_quicksand_basin {width:52px; height:52px; background-position: -676px -832px}
.tb_toxic_kelp {width:52px; height:52px; background-position: -728px -832px}
.tb_volcano {width:52px; height:52px; background-position: -780px -832px}
.telepathy {width:52px; height:52px; background-position: -832px -832px}
.terrestrial_sculpting {width:52px; height:52px; background-position: -884px -832px}
.think_tank {width:52px; height:52px; background-position: -936px -832px}
.thrusters_1 {width:52px; height:52px; background-position: -0px -884px}
.thrusters_2 {width:52px; height:52px; background-position: -52px -884px}
.thrusters_3 {width:52px; height:52px; background-position: -104px -884px}
.thrusters_4 {width:52px; height:52px; background-position: -156px -884px}
.tomb_world_adaption {width:52px; height:52px; background-position: -208px -884px}
.torpedoes_1 {width:52px; height:52px; background-position: -260px -884px}
.torpedoes_2 {width:52px; height:52px; background-position: -312px -884px}
.torpedoes_3 {width:52px; height:52px; background-position: -364px -884px}
.transcendent_faith {width:52px; height:52px; background-position: -416px -884px}
.transcendent_thought {width:52px; height:52px; background-position: -468px -884px}
.tropical_colonization {width:52px; height:52px; background-position: -520px -884px}
.tundra_colonization {width:52px; height:52px; background-position: -572px -884px}
.universal_assemblers {width:52px; height:52px; background-position: -624px -884px}
.unknown {width:52px; height:52px; background-position: -676px -884px}
.virtual_combat_arena {width:52px; height:52px; background-position: -728px -884px}
.visitor_center {width:52px; height:52px; background-position: -780px -884px}
.vitality_boosters {width:52px; height:52px; background-position: -832px -884px}
.warp_drive_1 {width:52px; height:52px; background-position: -884px -884px}
.warp_drive_2 {width:52px; height:52px; background-position: -936px -884px}
.warp_drive_3 {width:52px; height:52px; background-position: -0px -936px}
.weapon_type_energy_damage {width:52px; height:52px; background-position: -52px -936px}
.weapon_type_energy_fire_rate {width:52px; height:52px; background-position: -104px -936px}
.weapon_type_explosive_damage {width:52px; height:52px; background-position: -156px -936px}
.weapon_type_explosive_fire_rate {width:52px; height:52px; background-position: -208px -936px}
.weapon_type_kinetic_damage {width:52px; height:52px; background-position: -260px -936px}
.weapon_type_kinetic_fire_rate {width:52px; height:52px; background-position: -312px -936px}
.weapon_type_strike_craft_fire_damage {width:52px; height:52px; background-position: -364px -936px}
.weapon_type_strike_craft_fire_rate {width:52px; height:52px; background-position: -416px -936px}
.will_to_power {width:52px; height:52px; background-position: -468px -936px}
.wormhole_generation_1 {width:52px; height:52px; background-position: -520px -936px}
.wormhole_generation_2 {width:52px; height:52px; background-position: -572px -936px}
.wormhole_generation_3 {width:52px; height:52px; background-position: -624px -936px}
.xeno_diplomacy {width:52px; height:52px; background-position: -676px -936px}
.xeno_integration {width:52px; height:52px; background-position: -728px -936px}
.xeno_outreach {width:52px; height:52px; background-position: -52px -208px}
.xeno_relations {width:52px; height:52px; background-position: -104px -208px}
.xeno_supremacy {width:52px; height:52px; background-position: -156px -208px}
.xeno_zoo {width:52px; height:52px; background-position: -780px -936px}
.yellow_crystal_weapon_1 {width:52px; height:52px; background-position: -832px -936px}
.zero_gravity_assembly_sequence {width:52px; height:52px; background-position: -884px -936px}
.zero_point_power {width:52px; height:52px; background-position: -936px -936px}
