.leaf {
    width: 452px;
    height: 85px;
    position: relative;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.leaf strong {
    font-weight: bold;
}

.leaf h1 {
    font-size: 1.4rem;
    position: absolute;
    top:3px;
    left: 5px;
}

.leaf ul {
    font-size: 1.2rem;
    position: relative;
    left: 67px;
    top: 29px;
}

.tech-icon {
    position: absolute;
    bottom: 5px;
    left: 4px;
}

.tech-area{
    position: absolute;
    top: 1px;
    left: 433px;
}

.tech-tier{
    position: absolute;
    top: 4px;
    left: 420px;
}.tech-repeatable{
    position: absolute;
    top: 2px;
    left: 400px;
}
.tech-category{
    position: absolute;
    top: 29px;
    left: 417px;
}
.clear{
    clear: both;
    outline: 1px solid red;
}/* 
.tech-bg-physics {
    background: url("/images/tech_bg_physics.png")
}

.tech-bg-society {
    background: url("/images/tech_bg_society.png")
}

.tech-bg-engineering {
    background: url("/images/tech_bg_engineering.png")
}

.tech-bg-rare {
    background: url("/images/tech_bg_rare.png")
}

.tech-bg-dangerous {
    background: url("/images/tech_bg_dangerous.png")
} */