.tree{
    width:960px;
    text-align: center;
    outline: 1px solid red;
    margin: 0 auto;
}
.leaf {
    width: 452px;
    height: 85px;
    position: relative;
    color: white;
    margin: 4px;
    display: inline-block;
    text-align: initial;
}
.leaf strong {
    font-weight: bold;
}

.leaf h1 {
    font-size: 1.4rem;
    position: absolute;
    top:3px;
    left: 5px;
}

.leaf ul {
    font-size: 1.2rem;
    position: relative;
    left: 67px;
    top: 27px;
}

.tech-icon {
    position: absolute;
    bottom: 5px;
    left: 4px;
}
.features li{
    line-height: 17px;
}
.features li span{
    vertical-align: middle;
}
.sizes li{
    float: left;
    padding: 2px 0;
}
.tech-area{
    position: absolute;
    top: 1px;
    left: 433px;
}
.tech-tier{
    position: absolute;
    top: 4px;
    left: 420px;
}.tech-repeatable{
    position: absolute;
    top: 2px;
    left: 400px;
}
.tech-category{
    position: absolute;
    top: 29px;
    left: 417px;
}

[data-tier]{
    
    
}
[data-tier="0"]{
    top:0px;
}
[data-tier="1"]{
    top:100px;
}
[data-tier="2"]{
    clear: both;
    top:200px;
}
[data-tier="3"]{
    top:300px;
}
[data-tier="4"]{
    top:400px;
}
[data-tier="5"]{
    top:500px;
}